{% extends "base.twig" %}

{% set current_page_name = 'about' %}
{% set page_title = 'About |' %}

{% block content %}

<h2>About</h2>

<p>This website is a simple Date Checking Tool written as part of a code challenge.  It uses the following tools:</p>

<ul>
	<li><a href="http://silex.sensiolabs.org/">Silex</a></li>
	<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
	<li><a href="http://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap 3 Datepicker</a></li>
	<li><a href="https://jquery.com/">JQuery</a></li>
	<li><a href="https://phpunit.de">PHPUnit</a></li>
	<li><a href="https://getcomposer.org/">Composer</a></li>
	<li><a href="https://www.vagrantup.com/">Vagrant</a></li>
	<li><a href="https://github.com/hellboy1975/date-check">Git</a></li>
</ul>

{% endblock %}   